.skills__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.skills__container > div {
    background: #1f2235;
    padding: 2rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
/* .skills__container > div:hover{
    background: transparent;
    border-color: #ff5823;
    cursor: default;
    
} */
.skills__container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: white;
}
.skill__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}
.skill__details{
    display: flex;
    gap: 1rem;
}
.skill__details-icon{
   margin-top: 6px;
   color: white; 
}
h4 {
    color: white;
}

/* ****************Media Query medium deivce******** */

@media screen and (max-width:1024px) {

    .skills__container{
        grid-template-columns: 1fr;
    }
    .skills__container > div{
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
    .skill__content{
        padding: 1rem;
    }
   
}

@media screen and (max-width:600px) {
   .skills__container{
    gap: 1rem;
   }
   .skills__container > div{
    width: 100%;
    padding: 2rem 1rem;
   }
}